@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Syne:wght@700&display=swap');

.category {
    display: flex;
    flex-direction: row;
    padding: 2% 0% 5% 20%;

    .category-item  {
        font-family: 'Syne', sans-serif;
        font-size: 16px;
        color: #1D6154;
        list-style-type: none;
        margin: 0 5px;
        border: 2px solid #1D6154;
        border-radius: 25px;

    }

    .category-item p {
        font-family: 'Syne', sans-serif;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin: 10px 30px 10px 30px;
        
    }

    .category-item-tous {
        font-family: 'Syne', sans-serif;
        font-size: 16px;
        color:  white;
        list-style-type: none;
        margin: 0 10px;
        border: 2px solid #1D6154;
        border-radius: 25px;
        background-color: #1D6154;
    }

    .category-item-tous p {
        font-family: 'Syne', sans-serif;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin: 10px 30px 10px 30px;
        color: white;
    }


}